header{
    background-color: black;
    text-align: center;
    border-bottom: 1px solid rgb(255, 255, 255);
    width: 100%;
    position: fixed;
    z-index: 1;
}

*{
    padding: 0;
    margin: 0;
   font-family: 'inter', sans-serif;
   box-sizing: border-box;
   letter-spacing: 1px;
}

.b-kb{
    
    border-top: 1px solid white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid white;
    background-color: black;
}

.b-kb a{
  
    color: white;
    text-decoration: none;

}

.b-kb a :hover{
    opacity: 0.4;
transition: all 0.4s;
}

body{
    background-color: black;
}

.bar{
    border: none;
    font-size: 1.5rem;
    background: none;
}

.bar i{
    color: white;

}

        
         button {
            padding: 10px;
            border: none;
            border-radius: 5px;
            color: white;
            cursor: pointer;
          }
        
          .dropdown {
            position: relative;
            margin-top: 10px;
            list-style: none;
            
          }
        
          .dropdown ul {
            list-style: none;
            padding: 0;
            margin: 0;
            background-color: rgb(0, 0, 0);
         list-style: none;
            box-shadow: 0 2px 4px rgba(255, 0, 0,);
          }
        
          .dropdown li {
            padding: 10px;
            color: white;
          
             list-style: none;
          }
        
          
 .listus {
  text-decoration: none;
}
          
.hidden {
   display: none;
   list-style: none; 
   position: relative;          
}

.list a{
  list-style: none;
text-decoration: none;
color: white;
}

main{
padding-top: 6.5rem;
}


